* {
    padding: 0px;
    margin: auto;
    width: 1020px;
}

section.get-a-quote {
    height: 648px;
    background-color: #f06c64;
}

div.wrapper {
    width: 1020px;
    margin: auto;
    padding: 0px;
}

h2.get-a-quote {
    position: relative;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    top: 67px;
    left: 40px;
}

div.wrapper p {
    position: relative;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    left: 40px;
    margin: 0px;
    top: 95px;
}



div.layout-3-column {
    position: relative;
    margin: 0px;
    padding-left: 40px;
    padding-right: 40px;
    top: 140px;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

input {
    width: 619px;
    height: 35px;
    border-radius: 5px;
    background-color: #d6564f;
    border-color: #d6564f;
    
}

.layout-3-column {
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

form {
    display: block;
    width: 640px;
    position: relative;
    top: 0px;
}

form input {
    margin-bottom: 16px;
}

div.contact-information {
    display: inline;
    margin: 0px;
}

div.contact-information h4 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    word-spacing: -2px;
    top: 2px;
    position: relative;
}


div.contact-information p {
    position: relative;
    top: 12px;
    left : 0px;
    
    width: 300px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

div.contact-info span{
    position: relative;
    top:-54px;  
    display: block;
    padding-bottom:3px;
    height: 12px;
    font-size: 12px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    word-spacing: -2px;
}


div.bg-bottom {
    display: block;
    height: 6px;
    padding: 0px;
    margin: 0px;
    position: relative;
    background-color: #ea676b;
    top: 202px;
}

footer div.wrapper{
    width: 1020px;
    margin: auto;
    padding: 0px;
    
    height: 82px;
    background-color: #2d303a;
}

textarea {
    width: 619px;
    height: 200px;
    border-radius: 5px;
    background-color: #d6564f;
    overflow: hidden;
}

input::placeholder {
    position: relative;
    top: 1px;
    left: 13px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
  }

textarea::placeholder {
    position: relative;
    top: 5px;
    left: 13px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    overflow: hidden;
  }


  div.media {
    /* display: inline; */
    position: relative;
    left: 828px;
    top: -29px;
    /* top: -119px; */
    /* left: 1px; */
    /* width: 30px; */
  }

  div.media img {
      width: 32px;
      padding-right: 4px;
      color: khaki;
  }

  div.wrapper p img{
      width: 92px;
      position: relative;
      top: -67px;
      left: 2px;
  }