* {
    margin-top: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 1020px;
    padding: 0px;
}

.header {
    position: fixed;
    top: 0px;
    height: 95px;
    z-index: 4;
    width: 1020px;
}

.bg {
    height: 95px;
    width: inherit;
}

.logo {
    position: absolute;
    width: 124px;
    height: 25px;
    left: 40px;
    top: 29px;
}

.logo__title {
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.logo__title::after {
    content: "*";
    color: red;
}

.menu {
    position: absolute;
    display: flex;
    width: 371px;
    height: 14px;
    right: 40px;
    top: 42px;
    justify-content: space-between;
    
}

.menu__link {
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    text-decoration: none;
}

.menu__link:not(.menu__link_active):hover {
    cursor: pointer;
    color: #F06C64;
}

.menu__link_active {
    color: #F06C64;
}

.header__bg {
    position: absolute;
    height: 89px;
    width: inherit;
    top: 0px;
    background-color: #2d303a;
    z-index: -1;
}

.header__border {
    position: absolute;
    top: 89px;
    height: 6px;
    background-color: #323746;
    z-index: -1;
}

.slider {
    width: 1020px;
    height: 600px;
    top: 95px;
    left: 0px;
    position: relative;
    overflow: hidden;
}

.slider__bg {
    position: relative;
    top: 0px;
    left: 0px;
    height: 600px;
    width: 1020px;
}

.slider_main {
    position: relative;
    width: 1020px;
    height: 594px;
    left: 0px;
    top: 0px;
    background: #F06C64;
}

.slider_border {
    position: relative;
    width: 1020px;
    height: 6px;
    left: 0px;
    top: 0px;
    background: #EA676B;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    height: inherit;
}


.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__item_inactive {
    visibility: hidden;
}

.slider__content {
    position: absolute;
    width: 796px;
    height: 483px;
    left: 112px;
    top: 54px;
    flex: 0 0 50%;
}

.slider-control {
    position: absolute;
    width: 940px;
    height: 27px;
    left: 41px;
    top: 280px;
}

.slider-control__left {
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 2;
}

.slider-control__right {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 2;
}


.services {
    position: relative;
    width: 1020px;
    height: 500px;
    left: 0px;
    top: 95px;
}

.services_bg {
    position: relative;
    width: inherit;
    height: inherit;
    left: 0px;
    top: 0px;
}

.services_main {
    position: relative;
    width: inherit;
    height: inherit;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
}

.services_border {
    position: relative;
    width: inherit;
    height: 6px;
    left: 0px;
    bottom: 6px;
    background: #FFFFFF;
}

.services-header {
    position: absolute;
    width: calc(100% - 80px);
    height: 101px;
    left: 40px;
    top: 59px;
}
.services-header__name {
    position: relative;
    width: 172px;
    height: 36px;
    left: 0;
    top: 0;
    display: block;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
}

.services-header__description {
    position: relative;
    width: 100%;
    height: 47px;
    left: 0px;
    top: 18px;
    text-align: justify;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.226px;
    color: #767E9E;
}

.services-list {
    position: absolute;
    width: calc(100% - 80px);
    height: 228px;
    left: 40px;
    top: 220px;
    display: grid;
    grid-template-areas: 
        "a a a"
        "a a a"
    ;
}

.services-item {
    position: relative;
    width: 300px;
    height: 104px;
}

.services-item__logo {
    position: relative;
    display: inline;
    top: 0px;
    left: 0px;
}

.services-item__text {
    display: inline;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    overflow: hidden;
    text-align: justify;
    color: #767E9E;
}

.sevices-item__name {
    position: relative;
    width: 123px;
    height: 20px;
    left: 80px;
    top: -67px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
}

.services-item__description {
    position: relative;
    width: 220px;
    height: 77px;
    left: 80px;
    top: -62px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767E9E;
}

.portfolio {
    position: relative;
    width: 1020px;
    height: 870px;
    left: 0px;
    top: 95px;
}

.portfolio-bg {
    position: relative;
    width: inherit;
    height: inherit;
    left: 0px;
    top: 0px;
}

.portfolio-bg__main {
    position: relative;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
    background: #2D303A;
}

.portfolio-bg__border {
    position: relative;
    width: inherit;
    height: 6px;
    left: 0px;
    bottom: 6px;
    background: #323746;
}

.portfolio-header {
    position: absolute;
    width: 936px;
    height: 100.82px;
    left: 40px;
    top: 59px;
}

.portfolio-header__name {
    position: relative;
    width: 130px;
    height: 40px;
    left: 0px;
    top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
}

.portfolio-header__description {
    position: relative;
    width: 936px;
    height: 46.95px;
    left: 0px;
    top: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
}

.filter-list {
    position: absolute;
    display: flex;
    width: 320px;
    height: 22px;
    left: 40px;
    top: 155px;
}

.filter-list__text {
    position: relative;
    display: inline;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #767E9E;
}

.filter-list__text_border {
    border: 1px solid #767E9E;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px 6.5px;
    margin-right: 8.9px;
}

.filter-list__item_active {
    border-color: white;
    color: white;
}

.filter-list__text_border:not(.filter-list__item_active):hover {
    cursor: pointer;
}

.pictures {
    display: grid;
    /* grid-template-areas: 
    "a a a a"
    "a a a a"
    "a a a a"; */
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4,1fr);
    position: absolute;
    top: 195px;
    left: 40px;
    width: 960px;
    height: 620px;
}


.about-us {
    position: relative;
    width: 1020px;
    height: 733px;
    left: 0px;
    top: 95px;
}

.about-us-bg{
    position: relative;
    width: inherit;
    height: inherit;
    left: 0px;
    top: 0px;
}

.about-us-bg__bg {
    position: relative;
    width: inherit;
    height: inherit;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
}

.about-us-bg__border {
    position: relative;
    width: inherit;
    height: 5.08px;
    left: 0px;
    bottom: 5.08px;
    background: #FFFFFF;
}

.about-us__header {
    position: absolute;
    width: calc(100% - 40px);
    height: 101px;
    left: 40px;
    top: 59px;
}

.about-us__name {
    position: absolute;
    width: 130px;
    height: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
}

.about-us__description {
    position: absolute;
    width: calc(100% - 40px);
    height: 47px;
    top: 53px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
    text-align: justify;
}

.profiles {
    position: absolute;
    width: calc(100% - 80px);
    height: 443px;
    left: 40px;
    top: 217px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: normal;
}

.profile {
    width: 300px;
    height: 443px;
    margin-right: 0px;

}

.get-a-quote {
    position: relative;
    width: inherit;
    height: 654px;
    left: 0px;
    top: 95px;
}

.get-a-quote-bg {
    position: relative;
    width: inherit;
    height: inherit;
    left: 0px;
    top: 0px;
}

.get-a-quote-bg__bg {
    position: relative;
    width: inherit;
    height: inherit;
    left: 0px;
    top: 0px;
    background: #F06C64;
}

.get-a-quote-bg__border {
    position: relative;
    width: inherit;
    height: 6px;
    left: 0px;
    bottom: 6px;
    background: #EA676B;
}

.get-a-quote__header {
    position: absolute;
    width: inherit;
    height: 101px;
    left: 40px;
    top: 59px;
}

.get-a-quote__name {
    position: absolute;
    width: 167px;
    height: 40px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #F0D8D9;
}

.get-a-quote__description {
    position: relative;
    width: calc(100% - 80px);
    height: 47px;
    top: 54px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #F0D8D9;
    text-align: justify;
    letter-spacing: -0.2px;
}

.form {
    position: absolute;
    width: 620px;
    height: 373px;
    left: 40px;
    top: 217px;
}

.contact-information {
    position: absolute;
    width: 300px;
    height: 199px;
    left: 680px;
    top: 217px;
}

.footer {
    position: relative;
    width: 1020px;
    height: 76px;
    left: 0px;
    top: 95px;
    margin: 0px;
}

.footer_bg {
    position: relative;
    width: inherit;
    height: inherit;
    background: #2D303A;
}

.iphone {
    position: absolute;
    width: 215px;
    height: 458px;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.iphone-horizontal {
    position: absolute;
    width: 215px;
    height: 458px;
    top: -1px;
    left: 435px;
    transform: rotate(90deg);
}

.iphone__base {
    position: absolute;
    top: 0px;
    width: 215px;
}

.iphone__screen {
    position: absolute;
    left: 14px;
    top: 64px;
    width: 188px;
    height: 333px;
    background-image: url(assets/images/Layer\ 6.png);
    background-position: 0px 0px;
    z-index: 3;
}

.iphone__screen_layer5 {
    left: -59px;
    top: 137px;
    width: 333px;
    height: 188px;
    background-image: url(assets/images/Layer\ 5.png);
    transform: rotate(270deg);
}

.iphone__button {
    position: absolute;
    top: 407px;
    left: 85.5px;
    height: 41.88px;
    width: 41.88px;
    border-radius: 25px;
}

.iphone__button:hover {
    cursor: pointer;
    border: solid 1px gray;
}

.iphone__screen_switched-off {
    background-image: url();
}

.iphone__shadow {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 240px;
}

.iphone__shadow_horiznotal {
    position: absolute;
    left: 0px;
    top: -25px;
    width: 240px;
    transform: rotateX(180deg);
}

.services-title {
    position: absolute;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.3px;
    top: 75px;
    left: 40px;
}

.message-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #0008;
    z-index: 11;
}

.message {
    position: relative;
    width: 300px;
    top: calc(50vh - 100px) ;
    left: calc(50vw - 150px) ;
    padding: 10px;
    background-color: silver;
}

.message_hidden {
    display: none;
}

input {
    width: 602px;
    height: 35px;
    padding-left: 13px;
    border-radius: 5px;
    background-color: #d6564f;
    border-color: #d6564f;
}

form {
    display: block;
    width: 640px;
    position: relative;
    top: 0px;
}

form input {
    margin-bottom: 12px;
}

div.contact-information {
    display: inline;
    margin: 0px;
}

div.contact-information h4 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    word-spacing: -2px;
    top: 2px;
    position: relative;
}


div.contact-information p {
    position: relative;
    top: -14px;
    left : 0px;
    text-align: justify;
    width: inherit;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

div.contact-info span{
    position: relative;
    top:-54px;  
    display: block;
    padding-bottom:3px;
    height: 12px;
    font-size: 12px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    word-spacing: -2px;
}


div.bg-bottom {
    display: block;
    height: 6px;
    padding: 0px;
    margin: 0px;
    position: relative;
    background-color: #ea676b;
    top: 202px;
}

.wrapper {
    position: relative;
    /* height: 95px; */
    top: -95px;
}

footer{
    width: 1020px;
    margin: auto;
    padding: 0px;
    
    height: 82px;
    background-color: #2d303a;
}

textarea {
    width: 589px;
    height: 187px;
    border-radius: 5px;
    background-color: #d6564f;
    overflow: hidden;
    padding: 13px;
}

input::placeholder {
    position: relative;
    top: 1px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    
  }

textarea::placeholder {
    position: relative;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    overflow: hidden;
  }


.media {
    position: absolute;
    width: 152px;
    height: 32px;
    left: 434px;
    top: 22px;
}


@media all and (max-width: 1020px){
    /* body {
        width: 768px;
    } */

    .header {
        width: 768px;
    }

    .slider {
        width: 768px;
        height: 451px;
    }

    .services {
        height: 674px;
        width: 768px;
    }

    .services-header {
        top: 39px;

    }

    .services-list {
        grid-template-areas: 
        "a a"
        "a a"
        "a a";
        grid-row-gap: 39px;
        /* grid-column-gap: 53px; */
    }

    .portfolio {
        width: 768px;
        height: 1102px;
    }

    .pictures {
        grid-template-areas: 
        "a a a"
        "a a a"
        "a a a"
        "a a a";
        grid-template-rows: none;
        grid-template-columns: none;
        width: calc(100% - 80px);
        grid-gap: 20px;
    }

    .about-us {
        width: 768px;
        height: 669px;
    }

    .profile {
        width: 220px;
        height: 360px;
    }

    .profile > img {
        width: inherit;
        height: 220px;
    }

    .get-a-quote {
        width: 768px;
        height: 631px;
    }

    .form {
        width: 442px;
        /* height: 373px; */
    }

    input {
        width: inherit;
        padding-left: 0px;
    }

    textarea {
        width: calc(100% - 25px);
        /* padding: 7px; */
    }

    .contact-information {
        width: 221px;
        height: 225px;
        left: 510px;
        top: 217px;
    }

    .footer {
        width: 768px;
    }


    .pictures > img {
        width: 216px;
        height: 184px;
    }
}

@media all and (max-width: 768px){
    .header {
        width: 375px;
    }



    .menu {
        display: none;
    }

    .slider {
        top: 71px;
        width: 375px;
        height: 221px;
    }

    .services {
        top: 71px;
        width: 375px;
        height: 1032px;
    }

    .services-header {
        left: 30px;
        width: calc(100% - 60px);
    }

    .services-list {
        position: absolute;
        grid-template-areas: 
        "a"
        "a"
        "a"
        "a"
        "a"
        "a";
        grid-row-gap: 10px;
        top: 320px;
        left: 30px;
    }

    .portfolio {
        top: 71px;
        width: 375px;
        height: 884px;
    }

    .portfolio-header {
        width: inherit;
    }

    .portfolio-header__description {
        width: calc(100% - 80px);
    }

    .filter-list {
        top: 210px;
    }

    .pictures {
        width: 315px;
        height: 553px;
        top: 250px;
        grid-template-areas: 
        "a a"
        "a a"
        "a a"
        "a a";
        overflow: hidden;
        left: 30px;
        grid-gap: 13px;
    }

    .pictures > img {
        width: 151px;
        height: 128px;
    }

    .about-us {
        top: 71px;
        width: 375px;
        height: 1676px;
    }

    .about-us__header {
        left: 30px;
        width: calc(100% - 30px);
        top: 30px;
    }

    .about-us__description {
        top: 40px;
    }

    .profiles {
        width: calc(100% - 60px);
        left: 30px;
        top: 321px;
        display: grid;
        grid-template-columns: none;
        grid-template-areas: 
        "a"
        "a"
        "a";
    }

    .profile {
        width: 315px;
        height: 440px;
    }

    .profile > img {
        width: 315px;
        height: 315px;
    }

    .profile > p {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        text-align: justify;
        color: #767E9E;
    }

    .profile__description {
        position: relative;
        top: -10px;
    }
    .profile > section.social {
        position: relative;
        top: -20px;
    }



    .get-a-quote {
        top: 71px;
        width: 375px;
        height: 969px;
    }

    .get-a-quote__header {
        left: 30px;
        top: 30px;
        width: calc(100%);
    }

    .get-a-quote__description {
        width: calc(100% - 60px);
    }

    .form {
        left: 30px;
        top: 290px;
        width: 315px;
    }

    .form__send-btn {
        width: inherit;
        height: 50px;
    }

    .contact-information {
        /* width: 221px; */
        /* height: 225px; */
        left: 30px;
        top: 730px;
    }

    

    .footer {
        top: 71px;
        width: 375px;
    }

    .media {
        /* width: 152px; */
        left: 111.5px;
    }

    .logo {
        top: 20.5px;
        left: 125.5px;
    }

    .header {
        height: 71px;
    }
    .header__bg {
        height: 71px;
    }
    .header__border {
        display: none;
    }

    .wrapper {
        top: -71px;
    }

}